.input-box {
  width: 80%;
  height: 35px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2px 50px;
  border: none;
  outline: none;
}

.suggestions-open {
  border-radius: 20px 20px 0 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions-box {
  background: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.suggestion {
  padding: 5px 50px;
  cursor: pointer;
}
